In [1]:
# import pymysql

# #刪除table中的資料
# conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  #連結資料庫

# with conn.cursor() as cursor:
#     sql = "delete from TodayOrder"
#     cursor.execute(sql)
#     sql = "delete from EmployeeList"
#     cursor.execute(sql)

#     conn.commit()

In [2]:
import pymysql
#刪除資料表的所有資料
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  #連結資料庫

with conn.cursor() as cursor:
    sql = "DROP TABLE IF EXISTS TodayOrder"
    cursor.execute(sql) 
    conn.commit()

In [3]:

#刪除資料表的所有資料
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  #連結資料庫

with conn.cursor() as cursor:
    sql = "DROP TABLE IF EXISTS EmployeeList"
    cursor.execute(sql) 
    conn.commit()

In [4]:
#MySQL伺服器
#Uniform Server

#建立欄位 員工編號-餐廳-品項-價格-訂購日期
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    CREATE TABLE TodayOrder (
    EmployeeID VARCHAR(10),
    Restaurant VARCHAR(10),
    Item VARCHAR(10),
    Price int(3),
    OrderDate DATE);
    """
    cursor.execute(sql)  #執行SQL指令
    conn.commit()  #提交資料庫

In [5]:
#讀取csv檔，匯入database中的table
import csv
csv_filename = 'MySQL_order_lunch.csv'

with open(csv_filename) as f:
    reader = csv.reader(f)
    order_list = list(reader)
   
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    for i in range(1, len(order_list)):
        data = tuple(order_list[i])
        print(data)
        sql = f'INSERT INTO TodayOrder(EmployeeID, Restaurant, Item, Price, OrderDate) VALUES {data}'
        cursor.execute(sql)  #執行SQL指令
        conn.commit()  #提交資料庫

('F001', 'Res_A', 'A01', '80', '2024/6/3')
('F002', 'Res_A', 'A02', '90', '2024/6/3')
('F003', 'Res_A', 'A03', '100', '2024/6/3')
('F004', 'Res_B', 'B01', '80', '2024/6/3')
('F005', 'Res_B', 'B02', '90', '2024/6/3')
('F006', 'Res_B', 'B03', '100', '2024/6/3')
('F007', 'Res_B', 'B01', '80', '2024/6/3')
('F008', 'Res_B', 'B02', '90', '2024/6/3')
('F009', 'Res_A', 'A02', '90', '2024/6/3')
('F010', 'Res_B', 'B02', '90', '2024/6/3')
('F001', 'Res_B', 'B02', '90', '2024/6/10')
('F002', 'Res_A', 'A01', '80', '2024/6/10')
('F003', 'Res_B', 'B03', '100', '2024/6/10')
('F004', 'Res_B', 'B01', '80', '2024/6/10')
('F005', 'Res_A', 'A03', '100', '2024/6/10')
('F006', 'Res_A', 'A02', '90', '2024/6/10')
('F007', 'Res_A', 'A01', '80', '2024/6/10')
('F008', 'Res_B', 'B02', '90', '2024/6/10')
('F009', 'Res_B', 'B01', '80', '2024/6/10')
('F010', 'Res_A', 'A02', '90', '2024/6/10')
('F001', 'Res_B', 'B03', '100', '2024/6/17')
('F002', 'Res_B', 'B01', '80', '2024/6/17')
('F003', 'Res_A', 'A02', '90', '2024/6/17')
('F004', 'Res_A', 'A02', '90', '2024/6/17')
('F005', 'Res_B', 'B02', '90', '2024/6/17')
('F006', 'Res_B', 'B01', '80', '2024/6/17')
('F007', 'Res_B', 'B01', '80', '2024/6/17')
('F008', 'Res_B', 'B01', '80', '2024/6/17')
('F009', 'Res_B', 'B01', '80', '2024/6/17')
('F010', 'Res_B', 'B01', '80', '2024/6/17')
('F001', 'Res_B', 'B03', '100', '2024/6/24')
('F002', 'Res_B', 'B02', '90', '2024/6/24')
('F003', 'Res_A', 'A03', '100', '2024/6/24')
('F004', 'Res_B', 'B01', '80', '2024/6/24')
('F005', 'Res_B', 'B01', '80', '2024/6/24')
('F006', 'Res_A', 'A01', '80', '2024/6/24')
('F007', 'Res_A', 'A01', '80', '2024/6/24')
('F008', 'Res_B', 'B01', '80', '2024/6/24')
('F009', 'Res_A', 'A02', '90', '2024/6/24')
('F010', 'Res_B', 'B01', '80', '2024/6/24')
('F001', 'Res_A', 'A03', '100', '2024/7/1')
('F002', 'Res_A', 'A03', '100', '2024/7/1')
('F003', 'Res_B', 'B03', '90', '2024/7/1')
('F004', 'Res_A', 'A02', '90', '2024/7/1')
('F005', 'Res_A', 'A02', '90', '2024/7/1')
('F006', 'Res_B', 'B03', '100', '2024/7/1')
('F007', 'Res_B', 'B03', '100', '2024/7/1')
('F008', 'Res_B', 'B03', '100', '2024/7/1')
('F009', 'Res_A', 'A03', '100', '2024/7/1')
('F010', 'Res_A', 'A02', '90', '2024/7/1')
('F001', 'Res_B', 'B01', '80', '2024/7/8')
('F002', 'Res_B', 'B02', '90', '2024/7/8')
('F003', 'Res_B', 'B03', '100', '2024/7/8')
('F004', 'Res_B', 'B01', '80', '2024/7/8')
('F005', 'Res_B', 'B01', '80', '2024/7/8')
('F006', 'Res_B', 'B02', '90', '2024/7/8')
('F007', 'Res_B', 'B03', '100', '2024/7/8')
('F008', 'Res_B', 'B03', '100', '2024/7/8')
('F009', 'Res_B', 'B02', '90', '2024/7/8')
('F010', 'Res_B', 'B03', '100', '2024/7/8')

In [6]:
#建立欄位 員工編號-姓名-部門
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    CREATE TABLE EmployeeList (
    EmployeeID VARCHAR(10),
    Name VARCHAR(10),
    Department VARCHAR(10)
);
    """
    cursor.execute(sql)  #執行SQL指令
    conn.commit()  #提交資料庫

In [7]:
#讀取csv檔，匯入database中的table
csv_filename = 'MySQL_order_lunch_ID_name_department.csv'

with open(csv_filename) as f:
    reader = csv.reader(f)
    order_list = list(reader)
   
conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    for i in range(1, len(order_list)):
        data = tuple(order_list[i])
        print(data)
        sql = f'INSERT INTO EmployeeList(EmployeeID, Name, Department) VALUES {data}'
        cursor.execute(sql)  #執行SQL指令
        conn.commit()  #提交資料庫

('F001', 'Lin1', 'dep-F')
('F002', 'Chang', 'dep-G')
('F003', 'Tseng', 'dep-G')
('F004', 'Liu', 'dep-A')
('F005', 'Tseng2', 'dep-F')
('F006', 'Lin2', 'dep-A')
('F007', 'Chang2', 'dep-A')
('F008', 'Chang3', 'dep-F')
('F009', 'Lin3', 'dep-B')
('F010', 'Tseng3', 'dep-G')

In [8]:
#每一位員工的6月餐費
import pandas as pd

conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    SELECT EmployeeID, sum(Price) as Price_thisMonth
    FROM TodayOrder
    WHERE Month(OrderDate)=6
    GROUP BY EmployeeID;
    """
    cols=['EmployeeID', 'Price_thisMonth']
    cursor.execute(sql)  #執行SQL指令
    datas = cursor.fetchall()   
    df = pd.DataFrame(datas, columns=cols)
    print(df.to_string(index=False))

EmployeeID Price_thisMonth
      F001             370
      F002             340
      F003             390
      F004             330
      F005             360
      F006             350
      F007             320
      F008             340
      F009             340
      F010             340

In [9]:
#每一位員工的6月餐費;合併另一個table的information

conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    SELECT TA.EmployeeID, Name, Department, sum(Price) as MonthlyPrice
    FROM TodayOrder TA LEFT JOIN EmployeeList TB
    ON TA.EmployeeID=TB.EmployeeID
    WHERE Month(OrderDate)=6 
    GROUP BY TA.EmployeeID, Name, Department;
    """
    cols=['EmployeeID', 'Name', 'Department', 'MonthlyPrice']
    cursor.execute(sql)  #執行SQL指令
    datas = cursor.fetchall()   
    df = pd.DataFrame(datas, columns=cols)
    print(df.to_string(index=False))

EmployeeID   Name Department MonthlyPrice
      F001   Lin1      dep-F          370
      F002  Chang      dep-G          340
      F003  Tseng      dep-G          390
      F004    Liu      dep-A          330
      F005 Tseng2      dep-F          360
      F006   Lin2      dep-A          350
      F007 Chang2      dep-A          320
      F008 Chang3      dep-F          340
      F009   Lin3      dep-B          340
      F010 Tseng3      dep-G          340

In [10]:
#受歡迎的餐點排行
import pymysql
import pandas as pd

conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    SELECT Item, Restaurant, COUNT(Item)
    FROM TodayOrder
    GROUP BY Restaurant, Item
    ORDER BY COUNT(Item) DESC;
    """
    cols=['Meal-Item', 'Restaurant', 'COUNT(Item)']
    cursor.execute(sql)  #執行SQL指令
    datas = cursor.fetchall()   
    df = pd.DataFrame(datas, columns=cols)
    print(df.to_string(index=False))

Meal-Item Restaurant  COUNT(Item)
      B01      Res_B           17
      B03      Res_B           12
      A02      Res_A           10
      B02      Res_B           10
      A03      Res_A            6
      A01      Res_A            5

In [11]:
#受歡迎的餐聽排行
import pymysql
import pandas as pd

conn = pymysql.connect(host='localhost',port=3306,user='root',passwd='1234',charset='utf8', db='pythondb')  
with conn.cursor() as cursor:
    sql = """
    SELECT Restaurant, COUNT(Restaurant)
    FROM TodayOrder
    GROUP BY Restaurant
    ORDER BY COUNT(Restaurant) DESC
    ;
    """
    cols=['Meal-Item','COUNT(Item)']
    cursor.execute(sql)  #執行SQL指令
    datas = cursor.fetchall()   
    df = pd.DataFrame(datas, columns=cols)
    print(df.to_string(index=False))

Meal-Item  COUNT(Item)
    Res_B           39
    Res_A           21